body {
	margin: 0;
	padding: 0;
	font-family: Verdana;
	color: #000000;
	background: #2f2e68; 
	font-size: 1em;
	line-height: 1.5em;
}
h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
    font-family: "Londrina Shadow", sans-serif;
	font-weight: 400;
    color: #ffffff;
	background-color: #000000 ;
}
p {
	margin: 0 0 1.5em 0;
}

img {
	max-width: 100%;
	height: auto;
	text-align: center;
	padding: 80px;
}
#encabezado-principal{
    background: #000000;
	color: white;
	height: 80px;
}
#encabezado-principal a{
    color: white;
}
#logo-encabezado{
    float: left;
	padding: 10px 0 0 20px;
	text-decoration: none;
}
#logo-encabezado:hover{
    color: #2f2e68;
}
#logo-encabezado .nombre-web{
    display: block;
	font-weight: 700;
	font-size: 1.2em;
}
#logo-encabezado .info-web{
    display: block;
	font-weight: 300;
	font-size: 0.8em;
	color: #ffffff;
}
.menu{
    float: right;
}
.menu ul{
    margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 20px;
}
.menu ul li{
    display: inline-block;
	line-height: 80px;
}
.menu ul li a{
    display: block;
	padding: 0 10px;
	text-decoration: none;
}
.menu ul li a:hover{
    background:#2f2e68;
	border: 2px solid black;
}
#text-principio{
    background: white;
	width: 140%;
	max-width: 1100px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	text-align: center;
}
.contenido1{
    text-align: center;
    font-size: 16px;
    margin: 20px auto;
    text-decoration: none;
    background: #000000;
    color: white;
    font-family: arial;
	line-height: 22px;
	padding: 12px 12px 2px 12px
}
#parrafo1{
    background: rgb(0, 0, 0);
	color: #ffffff;
	width: 120%;
	max-width: 1000px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	text-align: center;
	font-family: Arial;
	padding: 12px 12px 1px 12px;
	font-size: 16px;
}
img{
    text-aling: left
}
/*poner aca imagenes de flores para decorar fondo*
/*poner con id cada imagen*/
img{
	text-aling: right
	
